[Unit]
Description=Virtual Machine: %%NAME%%
Documentation=man:qemu(8)
After=network.target remote-fs.target nss-lookup.target %%AFTER%%
%%BEFORE%%

[Install]
WantedBy=VMMgr_.target

[Service]
User=qemu
Group=qemu
NoNewPrivileges=True
WorkingDirectory=/var/lib/VMMGR/
Type=simple
ExecStart=%%VMMGRPATH%% start %%NAME%%
ExecStop=%%VMMGRPATH%% stop %%NAME%%
OOMPolicy=stop
NoNewPrivileges=True
