[Unit]
Description=Virtual Machine: %%NAME%%
Documentation=man:qemu(8)
After=network.target remote-fs.target nss-lookup.target %%AFTER%%
%%BEFORE%%

[Install]
WantedBy=%%WANTED%%

[Service]
Type=simple
Environment="QEMU_AUDIO_DRV=%%AUDIO%%"
PIDFile=%%PIDFILE%%
User=qemu
Group=qemu
WorkingDirectory=/var/lib/VMMGR/
ExecStart=%%VMMGRPATH%% start %%NAME%%
ExecStop=%%VMMGRPATH%% stop %%NAME%%
